extends layouts/main
include mixins/videoBlock

block content
    .videos
        each video in videos
           +videoBlock({
               videoFile: video.videoFile,
               views: video.views,
               title: video.title
           })