extends layouts/main
include mixins/videoBlock

block content
    .search__header
        p Search for #{searchingBy}!
    .search__videos
        if videos.length === 0
            h5 No videos found!
        each video in videos
            +videoBlock({
                videoFile:video.videoFile,
                id:video.id,
                views: video.views,
                title: video.title
            })