extends layouts/main
include mixins/videoBlock

block content
    .search__header
        p Search for #{searchingBy}!
    .search__videos
        each video in videos
           +videoBlock({
               videoFile: video.videoFile,
               views: video.views,
               title: video.title
           })