extends layouts/main
include mixins/videoBlock

block content
    .home-videos
        each video in videos
           +videoBlock({
               id: video.id,
               videoFile: video.fileUrl,
               views: video.views,
               title: video.title
           })